body {
    background-color: #0f4275d5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .todo-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
  }
  
  input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #623333;
    border-radius: 5px;
  }
  
  button {
    background-color: #350c648b;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #12dc22;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #f1f1f1;
    padding: 8px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }
  
  .delete-btn {
    background-color: #dc3545;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  